# to build documentation locally
sphinx>=5.0
sphinx_rtd_theme>=1.0.0
-e git://github.com/ulrobix/sphinxcontrib-contentui.git#egg=sphinxcontrib-contentui
-e git://github.com/ryanfox/sphinx-markdown-tables#egg=sphinx-markdown-tables